<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

</head>
<body>


<div id="trainer">
    <div v-for="(trainer,number) in trainers">
        {{number+1}} - {{trainer.name}}
    </div>
</div>


<div id="trainer">
    <div v-for="trainer in trainers">
        {{trainer.name}}
    </div>
</div>


<div id="menu">
    <div v-for="menu in menus">
        {{menu.name}}
    </div>
</div>
<!--

<div id="gallery_vue">
    <div v-for="gallery in galleries">
        {{gallery.image}}
    </div>
</div>
-->

<div  v-for="gallery in galleries" id="gallery_vue" >
    {{gallery.image}}
</div>


<div class="trainer-img"  v-bind:style="{ 'background-image': 'url(' + gallery.image + ')' }"></div>


<script src="js/data.js"></script>


</body>
</html>


